.label-input {
    width: 90%;
}

#upload_img {
    overflow: hidden;
}

.margin > div {
    margin-top: 10px;
}

.red {
    font-weight: bolder;
    font-size: 16px;
    margin-left: 9px;
    position: relative;
    top: 3px;
}

.bootstrap-tagsinput input {
    line-height: 30px;
    padding-left: 10px;
}

.radio {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-sm-6, .col-sm-12 {
    margin-bottom: 15px;
}
#edui1{
 z-index: 0px;
}