<extend name="Base:base"/>
<block name="link">
    <!--本页面CSS-->
</block>
<block name="breadcrumb">
    <li>用户权限</li>
    <li class="active">角色管理</li>
</block>
<block name="page-body">
    <!--本页面Body-->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption"><i class="fa fa-pencil"></i>&nbsp;&nbsp;角色{$title}</span>

                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="btn-group">
                        <a class="btn btn-default btn-add"
                           href="{:U('admin/urp/role_list',null,false,false,false)}"><i
                                class="fa fa-chevron-left"></i> 返回
                        </a>
                        <button type="button" class="btn btn-default btn-save"
                                data=""><i
                                class="fa fa-save"></i> 保存
                        </button>
                    </div>
                    <div class="form" style="padding: 20px 0px;">
                        <form method="post" id="form" action="{:U('admin/urp/role_save',null,false,false,false)}">
                            <div class="form-title">
                                角色详情
                            </div>
                            <div class="row" style="width: 400px;">

                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <label class="setbounds">角色名称<span style="color: red">（*）</span></label>
                                    <span class="input-icon icon-right">

                                        <if condition="$role eq null ">
                                            <input type="text" class="form-control roleName"  placeholder="角色名称">
                                            <input class="roleId" type="hidden" value="0"/>
                                            <else/>
                                            <input type="text" class="form-control roleName"  placeholder="角色名称"
                                                   value="{$role['name']}">
                                            <input class="roleId" type="hidden" value="{$role['Id']}"/>
                                        </if>

                                        <i class="fa fa-bookmark"></i>
                                    </span>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <!--本页面JavaScript-->
    <script src="__PUBLIC__/Static/js/role_view.js"></script>
</block>