<extend name="Base:base"/>
<block name="link">
    <!--本页面CSS-->
    <link href="__PUBLIC__/assets/css/dataTables.bootstrap.css" rel="stylesheet"/>
    <style>
        .table-striped > tbody > tr.add > td {
            background-color: #eed;
        }
    </style>
</block>
<block name="breadcrumb">
    <li>微网站</li>
    <li class="active">资讯类别</li>
</block>
<block name="page-body">
    <!--本页面Body-->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption"><i class="fa fa-table"></i>&nbsp;&nbsp;资讯类别列表</span>
                    <input type="hidden" value="{$st_status}" id="st_status"/>
                    <input type="hidden" value="{:U('clear_session')}" id="clear_session"/>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default category-add"
                                data="{:U('admin/wx/category_add',null,false,false,false)}">
                            <i class="fa fa-plus-square"></i> 新增
                        </button>
                        <button type="button" class="btn btn-default btn-edit"
                                data="{:U('admin/wx/category_add',null,false,false,false)}"><i
                                class="fa fa-pencil-square"></i> 编辑
                        </button>
                        <button type="button" class="btn btn-default btn-del"
                                data="{:U('admin/wx/category_delete',null,false,false,false)}"><i
                                class="fa fa-minus-square"></i> 删除
                        </button>
                        <button type="button" class="btn btn-primary btn-query" style="display: none"
                                data="{:U('admin/wx/category_query',null,false,false,false)}">
                            <i class="fa fa-search"></i> 查询
                        </button>
                        <input type="hidden" value="{:U('admin/wx/category_desktop',null,false,false,false)}"
                               id="desktop"/>
                    </div>
                    <div role="grid" id="simpledatatable_wrapper" class="dataTables_wrapper form-inline no-footer">
                        <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                            <thead>
                            <tr>
                                <th></th>
                                <th> 类别名称</th>
                                <th> 类别图标</th>
                                <th> 外站链接</th>
                                <th> 首页显示</th>
                                <th> 操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <!--本页面JavaScript-->
    <script src="__PUBLIC__/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/Static/js/category_list.js"></script>
</block>