<extend name="Base:base"/>
<block name="link">
    <!--本页面CSS-->
</block>
<block name="breadcrumb">
    <li>信息采集</li>
    <li class="active">创建采集</li>
</block>
<block name="page-body">
    <!--本页面Body-->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption"><i class="fa fa-pencil"></i>&nbsp;&nbsp;添加</span>

                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="btn-group">
                        <a class="btn btn-default btn-back"
                           data="{:U('/admin/stud/manage_list',null,false,false,false)}"><i
                                class="fa fa-chevron-left"></i> 返回
                        </a>
                        <button type="button" class="btn btn-default btn-save"
                                data=""><i
                                class="fa fa-save"></i> 保存
                        </button>
                    </div>
                    <div class="form" style="padding: 20px 0px;">
                        <form method="post" id="form" action="{:U('/admin/stud/manage_add_save',null,false,false,false)}">
                            <div class="form-title">
                                数据信息采集
                            </div>
                            <div class="row" style="width: 400px;">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="margin-bottom: 10px;">
                                            <label class="setbounds">采集名称<span style="color: red">（*）</span></label>
                                                <span class="input-icon icon-right">
                                                    <input type="text" maxlength="20" class="form-control dataname"
                                                           placeholder="采集名称">
                                                    <i class="fa fa-bookmark"></i>
                                                </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group" style="margin-bottom: 10px;">
                                            <label class="setbounds">采集类型<span style="color: red">（*）</span></label>
                                            <span class="input-icon icon-right">
                                                <select style="width: 100%;" class="form-control getdata">
                                                    <option value="0">新生数据采集</option>
                                                    <option value="1">学籍数据采集</option>
                                                    <option value="2">毕业生数据信息采集</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group" style="margin-bottom: 10px;">
                                            <label class="setbounds">适用学院<span style="color: red">（*）</span></label>
                                            <span class="input-icon icon-right">
                                                 <select style="width: 100%;" class="form-control college">
                                                     <option value="0">全部</option>
                                                     <foreach name="college" item="vo">
                                                         <option value="{$vo.Id}">{$vo.name}</option>
                                                     </foreach>
                                                 </select>
                                            </span>
                                        </div>
                                    </div>

                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom: 10px;">
                                        <label class="setbounds">适用系别<span style="color: red">（*）</span></label>
                                            <span class="input-icon icon-right">
                                                 <select style="width: 100%;" class="form-control department">
                                                     <option value="0" data-parent="0">全部</option>
                                                     <foreach name="deparment" item="vo">
                                                         <option value="{$vo.Id}" data-parent = "{$vo.p_id}">{$vo.name}</option>
                                                     </foreach>
                                                 </select>
                                            </span>
                                    </div>
                                </div>

                                    <div class="col-sm-12">
                                        <div class="form-group" style="margin-bottom: 10px;">
                                            <label class="setbounds">适用专业<span style="color: red">（*）</span></label>
                                            <span class="input-icon icon-right">
                                               <select style="width: 100%;" class="form-control specialty">
                                                   <option value="0" data-parent="0">全部</option>
                                                   <foreach name="specialty" item="vo">
                                                       <option value="{$vo.Id}" data-parent="{$vo.college_id}">{$vo.name}</option>
                                                   </foreach>
                                               </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group" style="margin-bottom: 10px;">
                                            <label class="setbounds">适用班级<span style="color: red">（*）</span></label>
                                            <span class="input-icon icon-right">
                                               <select style="width: 100%;" class="form-control class">
                                                   <option value="0" data-parent="0">全部</option>
                                                   <foreach name="class" item="vo">
                                                       <option value="{$vo.Id}" data-parent="{$vo.specialty_id}">{$vo.name}</option>
                                                   </foreach>
                                               </select>
                                            </span>
                                        </div>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <!--本页面JavaScript-->
    <script src="__PUBLIC__/Static/js/manage_add_view.js"></script>
</block>